%html
  %p= "Bonjour #{attendee.full_name}"
  %p
    Nous espérons que vous avez apprécié la conférence Agile France
    %br
    Et pour mesurer vos impressions,
    nous vous demandons de participer à ce 
    %a{:href => 'http://www.surveymonkey.com/s/agilefrance2010'}questionnaire

  %h3 Do not waste my time
  %p
    Il vous faudra entre 5 et 10 minutes pour compléter le sondage

  %h3 Feedback
  %p
    Nous faire un retour par ce sondage, c'est nous donner l'opportunité de nous améliorer
    %br
    Et si vous voulez nous faire un retour informel, écrivez nous à orga@conf.agile-france.org
  %p
    Les informations d'entreprise nous permettent de savoir qui a participé cette année et de préparer l'édition 2011

  %h3 Transparence
  %p Nous ne communiquons pas les coordonnées des participants et de leur société
  %p Nous publierons les résultats aggrégés au plus tard le 31 aout 2010, sans information personnelle ou d'entreprise

  %br
  %p L'organisation de la conférence Agile France