%html
  %p= "Bonjour #{speaker.firstname}"
  %p
    Cela va bientot faire un mois que la conférence est passée

  %h3 Support ?
  %p
    Chaque année, au moins un participant demande 'Pourra-t-on avoir les slides ?'
    %br
  %p
    Si vous ne nous avez pas déja transmis vos supports, pouvez vous nous indiquer une uri ou nous les transmettre ?
    %br
    Nous les mettrons en ligne pendant l'été, ou aggrégerons l'information

  %p L'organisation de la conférence Agile France