%html
  %p= "Bonjour #{attendee.full_name}"
  %p
    Nous espérons que vous avez apprécié la %a{:href => 'http://conf.agile-france.org/site/'}conférence Agile France
    Et pour mesurer vos impressions de façon plus formelle,
    nous vous avons préparé un %a{:href => 'http://www.surveymonkey.com/s/agilefrance2010'}sondage

  %h3 Feedback
  %p est une valeur de l'eXtreme Programming
  %p Nous faire un retour par ce sondage, c'est aussi nous donner l'opportunité de nous améliorer
  %p Et si vous voulez nous faire un retour que ne permet pas le formalisme du sondage, écrivez nous à orga@conf.agile-france.org

  %h3 Transparence
  %p Nous ne communiquons pas les coordonnées des participants, pas plus que les participation à ce sondage