%html
  %p= "Bonjour #{attendee.full_name}"
  %p
    Nous espérons que vous avez apprécié la conférence Agile France
    %br
    Et pour mesurer vos impressions de façon plus formelle,
    nous vous avons préparé un
    %a{:href => 'http://www.surveymonkey.com/s/agilefrance2010'}questionnaire

  %h3 Feedback
  %p
    Nous faire un retour par ce sondage, c'est nous donner l'opportunité de nous améliorer
    %br
    Et si vous voulez nous faire un retour informel, écrivez nous à orga@conf.agile-france.org

  %h3 Transparence
  %p
    Nous ne communiquons pas les coordonnées des participants, pas plus que les résultats de ce questionnaire