%html
  %p= "Bonjour #{attendee.full_name}"
  %p
    Vous etes bien inscrit à la
    %a{:href => 'http://conf.agile-france.org/'}Conférence Agile France,
    qui a lieu les lundi 31 mai et mardi 1er juin

  %h3 Comment vous rendre à la conférence ?
  %p
    Voici les
    %a{:href => 'http://conf.agile-france.org/site/'}instructions
  %p
    Si vous venez en métro, Chateau de Vincennes, comptez 15 minutes pour vous rendre au Chalet à pied

  %h3 A quelle heure dois-je me présenter ?
  %p Nous vous recevrons à partir de 08h30 le lundi
  %p La conférence commence à 09h

  %h3 Dois-je présenter une pièce d'identité ?
  %p Non

  %h3 Dois-je amener de quoi noter ?
  %p Oui, vous ne trouverez pas de bloc-note dans vos sacs d'accueil

  %h3 Stands de nos sponsors Platine et Gold
  %p Atos, Microsoft, Orange MBS et Soat auront un stand sur le lieu de la conférence
  %p Amener une carte de visite, un CV est une option

  Nous vous souhaitons un bon week-end, l'organisation de la Conférence Agile France