<div style="text-align:center; border: 1mm black solid;height: 330px;width: 300px;float:left;">
<h1>lorem ipsum sit dolorem merandi est, nop jitur artoli</h1>
(présentation, 90 mn)
<h2>Johanna Delorre</h2>
</div>
<div style="text-align:center; border: 1mm black solid;height: 330px;width: 300px;float:left;">
<h1>Lorem ipsum dolor sit amet, consectetur cras amet.</h1>
(présentation, 90 mn)
<h2>Johanna Delorre</h2>
</div>
<div style="text-align:center; border: 1mm black solid;height: 330px;width: 300px;clear:both; float:left;">
<h1>Lorem ipsum dolor sit amet, consectetur cras amet.</h1>
(présentation, 90 mn)
<h2>Johanna Delorre</h2>
</div>
<div style="text-align:center; border: 1mm black solid;height: 330px;width: 300px;float:left;">
<h1>Lorem ipsum dolor sit amet, consectetur cras amet.</h1>
(présentation, 90 mn)
<h2>Johanna Delorre</h2>
</div>
<div style="text-align:center; border: 1mm black solid;height: 330px;width: 300px;clear:both; float:left;">
<h1>Lorem ipsum dolor sit amet, consectetur cras amet.</h1>
(présentation, 90 mn)
<h2>Johanna Delorre</h2>
</div>
<div style="text-align:center; border: 1mm black solid;height: 330px;width: 300px;float:left;">
<h1>Lorem ipsum dolor sit amet, consectetur cras amet.</h1>
(présentation, 90 mn)
<h2>Johanna Delorre</h2>
</div>