<div style="clear:both; text-align:center; border: 1mm black solid;height: 160px;width: 300px;float:left;">
<h3>lorem ipsum sit dolorem merandi est, nop jitur artoli</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;clear:both; float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;clear:both; float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="clear:both; text-align:center; border: 1mm black solid;height: 160px;width: 300px;float:left;">
<h3>lorem ipsum sit dolorem merandi est, nop jitur artoli</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;clear:both; float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;clear:both; float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
<div style="text-align:center; border: 1mm black solid;height: 160px;width: 300px;float:left;">
<h3>Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
(retour, 30 mn)
<h4>Johanna Delorre</h4>
</div>
