<% sessions.each_with_index do |session, index| %>
<div style="text-align:center; border: 1mm black solid;height: 1000px;width: 300px;float:left;">
<h1><%= session.title %></h1>
<h2><%= session.speaker.full_name %></h2>
<h2>level : <%= session.level %></h2>
</div>
<% end %>